.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	position: relative;
}


.filters button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin-right: 30px;
	margin-top: 10px;
	float: right;
	align-content: center;
}

.filters button:hover{
	opacity: 90%;
}

.locations,
.amenities {
        height: 100%;
        width: 25%;
        top: 0%;
	float: left;
}

.locations {
        border-right: 1px solid #DDDDDD;
}

.filters h3 {
	top: 15%;
	font-weight: 600;
	margin: 2px 20px;
}
.filters h4 {
	top: 15%;
	font-weight: 400;
	font-size: 14px;
	margin: 2px 20px;
}

